<!-- Head Section -->
<div class="head-section bg">
    <div class="container">
        <h2>สถานะ <span class="font-light">สั่งซื้อ</span></h2>
<!--        <p>Angushop Receipt order info</p>-->
    </div>
</div>

<div class="container-page">
    <div class="box-page">
        <!-- Start List -->
        <ul class="row list-justify">
            <li class="col s4">
                Cart
            </li>
            <li class="col s4">
                Delivery
            </li>
            <li class="col s4 active">
                Receipt
            </li>
        </ul>
        <!-- End List -->

        <div class="wrap-receipt">
            <div class="row">
                <div class="col l12 s12  center-align center">
                   <div class="thank">
                    <h3>ขอบคุณสำหรับรายการอาหารที่คุณสั่งซื้อ</h3>
                    </div>
                    <br>
                    <div class="follow">
                        <h4><a>ติดตามสถานะของรายการอาหารที่สั่งซื้อ</a></h4>
                        <br>
                    </div>
                    <a mat-button class="btn btn-primary" routerLink="/shop/product1">กลับสู่หน้า สั่งซื้ออาหารเพิ่มเติ่ม</a>
                </div>
            </div>
        </div>
    </div>
</div>