/*
Color
=========================== */
$color-title: #3f3f3f;
$color-content: #8f8f8f;
$color-content1: #d04949;
$color-gray: #efefef;
$color-bg-gray: #fafafa;
$color-bg-gray2: #f9f9f9;
$color-bg-gray3: #f5f5f5;
$color-bg-yellow1: #e8bb40;
$color-bg-yellow2: #b9891f;
$color-wc-yellow1: #f7a91e;
$color-wc2-yellow1: #fcaf17;
$color-wc2-yellow2: #f7941d;


/*
Font Family
=========================== */
$font-family: 'Prompt','Roboto', sans-serif;

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  line-height: 20px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  line-height: 20px;
}